.App {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
}

.post {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.post:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}
.post .title {
  flex: 20%;
  border-bottom: 1px solid lightgray;
  background: linear-gradient(to right, #54ad4b, #138950);;
  display: grid;
  place-content: center;
  color: white;
}

.post .body {
  flex: 60%;
  display: grid;
  place-content: center;
  background:  #8ad182;
}

.post .footer {
  flex: 20%;
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background: linear-gradient(to right, #54ad4b, #138950);;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.footer .username {
  flex: 50%;
}
.footer .buttons {
  flex: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.likeBttn {
  color: rgba(250, 250, 250, 0.8);
}
.unlikeBttn {
  color: white;
}

.buttons label {
  margin-right: 20px;
  margin-left: 10px;
}

/* CREATE POST PAGE CSS */

.createPostPage {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;
  border: 5px solid dodgerblue;
  border-radius: 5px;
}

.formContainer #inputCreatePost {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: lightskyblue;
  border-radius: 5px;
  color: white;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: dodgerblue;
}

span {
  color: red;
}

/* NAVBAR */

.navbar {
  width: 100%;
  height: 70px;
  background-color: dodgerblue;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar .links {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar .loggedInContainer {
  flex: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

.navbar button {
  width: 100px;
  height: 40px;
  cursor: pointer;
  margin-right: 10px;
  background-color: white;
}

.navbar h1 {
  text-align: right;
  margin-right: 10px;
  color: white;
  font-weight: lighter;
}

/* INDIVIDUAL POST */
.sidebar-container {
  display: flex;

  position: fixed;
  left: 0;
  top: 8.4vh;
}

.sidebar-button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #4caf50;
  color: white;
  font-size: 24px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.postPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  width: 400px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.body {
  margin-top: 10px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.commentsSection {
  width: 400px;
  border: 1px solid #ccc;
  padding: 10px;
}

.footer button.deletePostButton {
  background: rgb(202, 194, 194);
  border-radius: 20px;
  border: none;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease-in-out;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  font-size: 14px;
  margin-top: 5px;
}

.footer button.deletePostButton:hover {
  background-color: #cc0000;
}

.addCommentContainer input {
  flex: 1;
  height: 24px; /* Adjust the height to make the text field bigger */
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.addCommentContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addCommentContainer button {
  background: linear-gradient(to right, #54ad4b, #138950);
  border-radius: 20px;
  border: none;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease-in-out;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.addCommentContainer button .button-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.addCommentContainer button:hover {
  background: linear-gradient(to right, #138950, #54ad4b);
}


.commentTextarea {
  width: 80%;
  height: 50px;
  resize: none;
}

.listOfComments {
  margin-top: 5px;
}

.comment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.comment label {
  font-weight: normal;
  color: #999;
  flex: 1; /* Take up remaining space */
  text-align: right;
  font-size: 12px;
}

.comment button {
  margin-left: 10px;
  padding: 2px 5px;
  border-radius: 3px;
  background-color: #ccc;
  border: none;
  color: white;
  cursor: pointer;
}


.comment button:hover {
  background-color: #999;
}


/* LOGIN */

