.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bold-paragraph {
    font-weight: bold;
    font-size: 18px;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    background-color: #f8f8f8;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}